<% provide(:title, "Signup") %>
<div class="signup-container">
    <h1>What are you looking to do?</h1>
    <div>
        <%= link_to "Find a job", new_seeker_path, class: "btn btn-default find-job-button" %>
        <%= link_to "Hire", new_employer_path, class: "btn btn-default hire-button" %>
    </div>
</div>


