<% provide(:title, 'All Employers') %>

<div class="show-title"><h1>Showing All Employers</h1></div>
<div class="all-container">
    <% @employers.each_with_index do |employer, index| %>
        <div class=<%= "index-item-#{index % 2}" %>>
            <div class="item-name">
                <%= employer.company_name %>
            </div>
            
            <div class="item-id">
                Object ID: <%= employer.id %>
            </div>
            
            <div class="item-edit-link">
                <%= link_to "Edit Data", edit_employer_path(employer), class: "btn btn-default" %>
            </div>
        </div>
    <% end %>
</div>