@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
    font-family: 'Roboto', sans-serif;
}


// HOME PAGE

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0;
    
    .logo {
        color: #12F500;
        font-size: 1.5em;
        margin-left: 2%;
        text-decoration: none;
    }
}

.home-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .sourcer-title {
        color: #12F500;
    }
    
    h3 {
        font-weight: 300;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .login-button {
        margin-right: 30px;
    }
}

// GENERAL SIGNUP PAGE

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 20%;
    
    h1 {
        margin-bottom: 30px;
    }
    
    .find-job-button {
        margin-right: 30px;
    }
}

// SEEKER SIGNUP
.seeker-signup {
    width: 100%;
    margin-top: 20%;
    
    .form-container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        border: 1px solid gray;
        padding: 50px;
        
        .form-title {
            margin-bottom: 30px;
        }
    }
    
    .seeker-signup-form {
        width: 80%;
        
        form {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        
        .signup-button {
            margin: 0 auto;
            width: 40%;   
            margin-top: 30px;
        }
    }
    
    input, textarea, select, .uneditable-input {
      border: 1px solid #bbb;
      width: 100%;
      margin-bottom: 15px;
    }
    
    input {
      height: auto !important;
    }
}

// SEEKER ERRORS

.error_explanation {
    margin: 0 auto;
    width: 80%;
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

// boostrap classes for errors
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}